body{
    background-color: #2d2c2f;
}

.kizer_hero{
    background-image: url(/images/Kizer_ImageMarkGIf3.gif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.latest_release{
    background-color:#000000;
    background-attachment: fixed;
    background-position: center;
    z-index: 0;
}

.sound_cloud_button{
    background-color:#fd5600;
}

.live_events{
    background-image: url(/images/live_events_dj.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#kizerNavbar{
    background-color:#000000;
    opacity: .9;
}

.ringa_rang_img{
    background-size: contain;
    height:300px;
    width: 300px;
}

#facebookModal .modal-header{
    background-color:#4894ff;
    color:#ffffff;
}

.panel-heading {
    color: #ffffff;
}
.panel-body img {
    width:100%;
    height: 3
    00px;
}

.panel-footer {
    color:white;
}

iframe {
    font-size: 10px; 
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}

#cart {
 color:#ffffff;
}

#modalpic {
    width:50%;
}

#djSolo {
 border-radius: 20%;
 height: 85%;
 width: 85%;
}

